<div style="display: flex; justify-content: center; align-items: center">
  <h1 style="margin: 0" *ngIf="type != 'admin'">Tokens</h1>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div *ngIf="type != 'admin'">
    {{ userData?.token }}
  </div>
  <div style="display: flex; justify-content: center; align-items: center">
    <h2 style="margin: 0">
      {{ userData?.email }}
    </h2>
  </div>
  <button
    (click)="logout()"
    mat-raised-button
    color="primary"
    style="margin: 10px"
  >
    Logout
  </button>
